<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.incitorrent.radyo.menemen.pro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".RMPRO"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ayarlar"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/settingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incitorrent.radyo.menemen.pro.MainActivity" />
        </activity>

        <service
            android:name=".services.MUSIC_INFO_SERVICE"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MUSIC_PLAY_SERVICE"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".utils.NotificationControls"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Licence"
            android:label="@string/licence" />
        <activity
            android:name=".get_image"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browsable"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="radyomenemen.com" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.MusicInfoReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Intro" />

        <service android:name=".services.FIREBASE_CM_SERVICE">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FIREBASE_INSTANCE_ID_SERVICE">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".show_image">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="caps.radyomenemen.com"
                    android:scheme="http"
                    android:pathPrefix="/images"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".show_image_comments"
            android:label="@string/title_activity_show_image_comments"
            android:parentActivityName=".show_image"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incitorrent.radyo.menemen.pro.show_image" />
        </activity>
    </application>

</manifest>